h1
{
    color: red;
    text-align: center;
    font-size: 22px;
    background-color:black
}

.container-fluid
{
    /*background-color: purple;*/
    height: 5rem;
}

/*formating the signin box*/
body.signin-body
{
    background-color: #e6f2ff;
}

.contrainer.signin-container
{
    margin-top: 8%;
}

.card.signin-card
{
    padding: 40px 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px;
}

.row
{
    /*background-color: aqua;*/
}

[class*="col-"]
{
    /*background-color: aliceblue;*/
    border : 2px solid black;
}

.simpleText
{
    font-size: 16px;
    font-weight: 600;
    font-family: monospace;
    align-content: center;
}

.inputText
{
    background-color: red;
    padding: 2px 5px;
    display: inline-block;
}
body
{
    background-image: url(images/background_image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-weight: 600;
}

.square 
{
    width: 100px;
    height: 100px;
    background-color: black;
    margin: auto;
}

.titleImage
{
    max-width: 100%;
    height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
}

nav ul ul 
{
    display: none;
    position: absolute;
    background-color: #333; /* Background color for dropdown */
    z-index: 1;
}
nav ul li:hover > ul 
{
    display: block; /* Show dropdown when hovering */
}